{%extends "base.html" %}

{% block content %}

<h2>My Orders </h2>
Your courier id is <strong>{{ user.courier_id }}</strong>
{% if my_orders %}
<table border="1" style="width: 100%; margin-top: 10px; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #f4f4f4;">
            <th>Order ID</th>
            <th>User ID</th>
            <th>Phone Number</th>
            <th>Contact email</th>
            <th>Address</th>
            <th>Created At</th>
            <th>Status</th>
            <th>Update Status</th>
        </tr>
    </thead>
    <tbody>
        {% for order in my_orders %}
        <tr>
            <td style="text-align: center;">{{ order.id }}</td>
            <td style="text-align: center;">{{ order.user_id }}</td>
            <td style="text-align: center;">
                {% if order.phonenumber_id in phonenumbers %}
                {{ phonenumbers[order.phonenumber_id].number }}
                {% else %}
                Unknown Number
                {% endif %}
            </td>
            <td>{{ order.email }}</td>
            <td>
                {% if order.address_id in addresses %}
                {{ addresses[order.address_id].postalcode }}
                {{ addresses[order.address_id].city }},
                {{ addresses[order.address_id].street }}
                {% else %}
                Unknown Address
                {% endif %}
            </td>
            <td style="text-align: center;">{{ order.created_at }}</td>
            <td style="text-align: center;">{{ order.status.value }}</td>
            <td style="text-align: center;">
                {% if order.status.value == "AssignedToCourier" or order.status.value == "DeliveryStarted" %}
                <form action="{{ url_for('main.courier.update_order_status_as_courier') }}" method="POST" style="margin: 0;">
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    <select name="new_status" required>
                        {% for status in statuses %}
                        <option value="{{ status }}"
                            {% if order.status.value == status %}selected{% endif %}>{{ status.replace("_", " ").title() }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" style="margin-top: 5px;">Update</button>
                </form>

                    {% elif order.status.value == "ReceptionConfirmed" or order.status.value == "Delivered" %}
                        <p><i>Delivery completed!</i></p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You don't have any orders.</p>
{% endif %}


<h3>Other Orders</h3>
{% if other_orders %}
<table border="1" style="width: 100%; margin-top: 10px; border-collapse: collapse;">
    <thead>
        <tr style="background-color: #f4f4f4;">
            <th>Order ID</th>
            <th>User ID</th>
            <th>Courier ID</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Created At</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for order in other_orders %}
        <tr>
            <td style="text-align: center;">{{ order.id }}</td>
            <td style="text-align: center;">{{ order.user_id }}</td>
            <td style="text-align: center;">{{ order.courier_id }}</td>
            <td style="text-align: center;">
                {% if order.phonenumber_id in phonenumbers %}
                {{ phonenumbers[order.phonenumber_id].number }}
                {% else %}
                Unknown Number
                {% endif %}
            </td>
            <td>
                {% if order.address_id in addresses %}
                {{ addresses[order.address_id].postalcode }}
                {{ addresses[order.address_id].city }},
                {{ addresses[order.address_id].street }}
                {% else %}
                Unknown Address
                {% endif %}
            </td>
            <td style="text-align: center;">{{ order.created_at }}</td>
            <td style="text-align: center;">{{ order.status.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There's no other order.</p>
{% endif %}
{% endblock %}