<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Home page - {{title}}</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
            padding: 20px;
        }

        footer {
            background: #f1f1f1;
            padding: 10px;
            text-align: center;
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <!-- Menu bar-->
    <div>
        <button type="button" onclick="window.location.href='/api/index'">Home</button>
        <button type="button" onclick="window.location.href='/api/login'">Login</button>
        <button type="button" onclick="window.location.href='/api/user'">User's page</button>
        <button type="button" onclick="window.location.href='/api/courier'">Courier's page</button>
        <button type="button" onclick="window.location.href='/api/storekeeper'">Storekeeper's page</button>
        <button type="button" onclick="window.location.href='/api/supplier'">Supplier's page</button>
        <button type="button" onclick="window.location.href='/api/item'">Items page</button>
        <button type="button" onclick="window.location.href='/api/order'">Order page</button>
        <button type="button" onclick="window.location.href='/api/shipment'">Shipment page</button>
    </div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <span style="color:red;">{{ message }}</span><br />
        {% endfor %}
    {% endif %}
{% endwith %}

    <!-- Content -->
    <div class="content">
        {% block content %}
            <h3>This is the home page!</h3>
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        {% include 'footer.html' %}
    </footer>
</div>
</body>
</html>