<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="utf-8" />
    <title> Home page - {{ title }}</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
            padding: 20px;
        }

        footer {
            background: #f1f1f1;
            padding: 10px;
            text-align: center;
            font-size: 14px;
        }
    </style>
</head>


<body>
<div>
    <button type="button" onclick="window.location.href='/api/'">Home</button>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <h3>Sign In</h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label}}<br />
            {{ form.name(size = 32)}}<br />
            {% for error in form.name.errors %}
                <span style="color:red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label}}<br />
            {{ form.password(size=32)}}<br />
            {% for error in form.password.errors %}
                <span style="color:red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me()}} {{ form.remember_me.label}}
        </p>
        <p>
            {{ form.submit()}}
        </p>
     </form>

</div>

</body>
</html>