<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
            padding: 20px;
        }

        footer {
            background: #f1f1f1;
            padding: 10px;
            text-align: center;
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <!-- Menü sáv -->
    <div>
        <button type="button" onclick="window.location.href='/api/'">Home</button>
        <button type="button" onclick="window.location.href='/api/login'">Login</button>
    </div>


    <h3>This is the login page</h3>


    <!-- Üzenetek megjelenítése -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <span style="color:red;">{{ message }}</span><br />
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- A tartalom blokk, amit az aloldalak töltenek meg -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Lábléc -->
    <footer>
        {% include 'footer.html' %}
    </footer>
</div>
</body>
</html>