<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>
<body>
<main>
<div class="wrapper">
    <!-- Menü sáv -->
    <div>
        <button type="button" onclick="window.location.href='/api/'">Home</button>
        <button type="button" onclick="window.location.href='/api/login'">Login</button>
        <button type="button" onclick="window.location.href='/api/register'">Register</button>
    </div>

    <!-- Üzenetek megjelenítése -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <span style="color:red;">{{ message }}</span><br />
            {% endfor %}
        {% endif %}
    {% endwith %}


    <h3>This is the startup page. Please log in or register to continue!</h3>




    <!-- A tartalom blokk, amit az aloldalak töltenek meg -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>


</div>
</main>
<!-- Lábléc -->
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>