{% extends "index.html" %}

{% block content %}

<h2>Available Items</h2>
<form method="POST" action="{{ url_for('main.user.create_order') }}">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price (Ft)</th>
                <th>Quantity Available</th>
                <th>Order Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                {% if item.quantity_available > 0 %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity_available }}</td>
                        <td>
                            <input
                                type="number"
                                name="items[{{ item.id }}]"
                                min="0"
                                max="{{ item.quantity_available }}"
                                placeholder="Quantity"
                                style="width: 100%;">
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="left-align">
        <button type="submit">Place order</button>
    </div>



</form>



<h4>Megjegyzés hozzáadása rendeléshez</h4>
<form method="POST" action="{{ url_for('main.user.add_feedback') }}">
    <label for="order_id">Order ID:</label>
    <input type="number" id="order_id" name="order_id" required>

    <label for="feedback">Megjegyzés:</label>
    <textarea id="feedback" name="feedback" rows="4" cols="50" required></textarea>

    <button type="submit">Küldés</button>
</form>

<h4>Modify Contact Information</h4>
<form method="POST" action="{{ url_for('main.user.update_contact_info') }}">
    <label for="field">Frissíteni kívánt adat:</label>
    <select id="field" name="field" required>
        <option value="email">Email</option>
        <option value="phone">Telefon</option>
    </select>

    <label for="username">Felhasználónév:</label>
    <input type="text" id="username" name="username" required>

    <label for="new_value">Új adat:</label>
    <input type="text" id="new_value" name="new_value" required>

    <button type="submit">Adat módosítás</button>
</form>


{% endblock %}